#This will stop ElasticBeanstalk from allowing SSh to all and will only allow ssh to 172.25.6.222 c33filesrv01.sigue.local
option_settings:
  aws:elasticbeanstalk:customoption:
    MyIP: "172.25.6.222/32"

  aws:autoscaling:launchconfiguration:
    SSHSourceRestriction: tcp, 22, 22, 172.25.6.222/32
  
  aws:autoscaling:asg:
    MaxSize: 1
 
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: "false"
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    IgnoreHealthCheck: "true"
  aws:elasticbeanstalk:monitoring:
    Automatically Terminate Unhealthy Instances: "false"

Resources:  
  sshfromhome: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 22
      FromPort: 22
      CidrIp: 
        Fn::GetOptionSetting: {OptionName: MyIP}
