files:
  "C:\\Users\\Public\\Downloads\\InstallAV.ps1":
    source: https://telerik-fiddler.s3.amazonaws.com/fiddler/FiddlerSetup.exe
commands:
  00wait:
    command: echo waiting for metadata
    waitAfterCompletion: 70
    
  01install_tmds_agent:
    command: powershell.exe -ExecutionPolicy Bypass Start-Process -FilePath C:\Users\adm-gsandoval1\Downloads\FiddlerSetup.exe -NoNewWindow -PassThru