files:
  "C:\\Users\\Public\\Downloads\\CreateDevLocalAdminAct.ps1":
    source: https://s3.amazonaws.com/sigue-scripts/CreateDevLocalAdminAct.ps1
commands:
  00wait:
    command: echo waiting for metadata
    waitAfterCompletion: 70
  
  01create_local_dev_admin:
    command: powershell.exe -ExecutionPolicy Bypass -File "C:\\Users\\Public\\Downloads\\CreateDevLocalAdminAct.ps1"