files:  
    "C:\\Users\\Public\\Downloads\\NDP46-KB3045557-x86-x64-AllOS-ENU.exe": 
        source: "https://s3-us-west-1.amazonaws.com/sigue-software/builds/NDP46-KB3045557-x86-x64-AllOS-ENU.exe"    
commands: 
    install_dot_net_4_6:
        command: powershell.exe /i "Start-Process -FilePath C:\\cfn\\scripts\\NDP46-KB3045557-x86-x64-AllOS-ENU.exe" -ArgumentList "/q /norestart" -Wait -Verb RunAs  
