files:
"D:\\Tools\\InstallAV.ps1.ps1":
source: https://s3.amazonaws.com/sigue-sds-scripts/InstallAV.ps1
commands:
install_tmds_agent:
command: powershell.exe -ExecutionPolicy Bypass -File "D:\\Tools\\InstallAV.ps1.ps1"
container_commands:
reboot-instance:
command: powershell.exe -Command "Restart-Computer"